
.micontainer{
    display: flex;
    flex-direction:row;
    background: steelblue;

    background: #CCC;
    display: flex;

    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
}

.cajita {
    width: max(300px);
    height: 450px;
}

.titulodecompras {
    font-size:200%;
    margin:0px
}

.titulodecomprascontenedor {
    margin:10px;
    padding: 10px auto;
    text-align: center;
}