<div class="contenedor-hombre">
    <div class="titulodecomprascontenedor">
        <h5 class="titulodecompras">Hola que hace</h5><br/>    
        <h5 class="titulodecompras">viene a comprar o que hace</h5>
    </div>
    <div class="micontainer">
        <div class="cajita" *ngFor="let itemhombre of lItemRopa; let i = index">
            <app-item-seccion-hombres
                [itemNombre]="itemhombre.nombre"
                [itemPrecio]="itemhombre.precio"
                [itemID]="itemhombre.id"
                [itemStock]="itemhombre.stock"
                [itemsrcimg]="itemhombre.srcimg">
            </app-item-seccion-hombres>
        </div>
    </div>
</div>

<!--

<mat-grid-tile><app-item-seccion-hombres
            [itemNombre]="'Gracias'"
            [itemPrecio]="44.99"
            [itemID]="1"
            [itemStock]="13"
            [itemsrcimg]="'../../assets/img/seccion-hombre/item_01.jpg'"></app-item-seccion-hombres>
        </mat-grid-tile>
        <mat-grid-tile><app-item-seccion-hombres
            [itemNombre]="'Roooopa'"
            [itemPrecio]="29.00"
            [itemID]="2"
            [itemStock]="22"
            [itemsrcimg]="'../../assets/img/seccion-hombre/item_02.jpg'"></app-item-seccion-hombres>
        </mat-grid-tile>
        <mat-grid-tile><app-item-seccion-hombres
            [itemNombre]="'Roooopa'"
            [itemPrecio]="35.00"
            [itemID]="3"
            [itemStock]="145"
            [itemsrcimg]="'../../assets/img/seccion-hombre/item_03.jpg'"></app-item-seccion-hombres>
        </mat-grid-tile>
        <mat-grid-tile><app-item-seccion-hombres
            [itemNombre]="'Roooopa'"
            [itemPrecio]="39.99"
            [itemID]="4"
            [itemStock]="48"
            [itemsrcimg]="'../../assets/img/seccion-hombre/item_04.jpg'"></app-item-seccion-hombres>
        </mat-grid-tile>
        <mat-grid-tile><app-item-seccion-hombres
            [itemNombre]="'Roooopa'"
            [itemPrecio]="45.00"
            [itemID]="5"
            [itemStock]="74"
            [itemsrcimg]="'../../assets/img/seccion-hombre/item_05.jpg'"></app-item-seccion-hombres>
        </mat-grid-tile>
        <mat-grid-tile><app-item-seccion-hombres
            [itemNombre]="'Roooopa'"
            [itemPrecio]="45.00"
            [itemID]="6"
            [itemStock]="62"
            [itemsrcimg]="'../../assets/img/seccion-hombre/item_06.jpg'"></app-item-seccion-hombres>
        </mat-grid-tile>
        <mat-grid-tile><app-item-seccion-hombres
            [itemNombre]="'Roooopa'"
            [itemPrecio]="45.00"
            [itemID]="7"
            [itemStock]="50"
            [itemsrcimg]="'../../assets/img/seccion-hombre/item_07.jpg'"></app-item-seccion-hombres>
        </mat-grid-tile>
        <mat-grid-tile><app-item-seccion-hombres
            [itemNombre]="'Roooopa'"
            [itemPrecio]="45.00"
            [itemID]="8"
            [itemStock]="70"
            [itemsrcimg]="'../../assets/img/seccion-hombre/item_08.jpg'"></app-item-seccion-hombres>
        </mat-grid-tile>
        <mat-grid-tile><app-item-seccion-hombres
            [itemNombre]="'Roooopa'"
            [itemPrecio]="45.00"
            [itemID]="9"
            [itemStock]="28"
            [itemsrcimg]="'../../assets/img/seccion-hombre/item_09.jpg'"></app-item-seccion-hombres>
        </mat-grid-tile>
        <mat-grid-tile><app-item-seccion-hombres
            [itemNombre]="'Roooopa'"
            [itemPrecio]="45.00"
            [itemID]="10"
            [itemStock]="80"
            [itemsrcimg]="'../../assets/img/seccion-hombre/item_10.jpg'"></app-item-seccion-hombres>
        </mat-grid-tile>

-->