<div class="contenedor-mujer">
    <div class="titulodecomprascontenedor">
        <h5 class="titulodecompras">TRAJES DEPORTIVO PARA DAMAS</h5><br/>    
        <h5 class="titulodecompras">Chompas, calentadores...</h5>
    </div>
        <mat-grid-list cols="4" rowHeight="1:1.5">
        
            <mat-grid-tile *ngFor="let itemmujeres of lItemRopa; let i = index">
                
                    <app-item-seccion-mujeres
                    [itemNombre]="itemmujeres.nombre"
                        [itemPrecio]="itemmujeres.precio"
                        [itemID]="itemmujeres.id"
                        [itemStock]="itemmujeres.stock"
                        [itemsrcimg]="itemmujeres.srcimg">
                    </app-item-seccion-mujeres>
                
                
            </mat-grid-tile>
    
        </mat-grid-list>
</div>
