
<div class="center-content">
    <mat-card class="example-card">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0crLaXgSDO8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </mat-card>
</div>
<div class="center-content">
    <mat-card class="example-card">
        <h1 class="classe">PREPÁRATE PARA EL VERANO</h1>
        <P class="classe2">Equipate para darlo todo en el deporte</P>
    </mat-card>
</div>
<h1></h1>
<mat-grid-list cols="3" rowHeight="6:5">
    
    <mat-grid-tile>
        <img class="tile-image" src="assets/img/camiseta-nike.jpg">
    </mat-grid-tile>  

    <mat-grid-tile>
    <img class="tile-image" src="assets/img/zapato-nike.jpg">
    </mat-grid-tile>

    <mat-grid-tile>
        <img class="tile-image" src="assets/img/buzo.jpg">
    </mat-grid-tile>

    <mat-grid-tile>
        <img class="tile-image" src="assets/img/gorra.jpg">
    </mat-grid-tile>

    <mat-grid-tile>
        <img class="tile-image" src="assets/img/chaqueta.jpg">
    </mat-grid-tile>

    <mat-grid-tile>
        <img class="tile-image" src="assets/img/pantaloneta.jpg">
    </mat-grid-tile>
</mat-grid-list>

