<header class="col">
    <nav>
        <a href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
        <div class="nav-links">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="Cantos Pinto James Douglas.html">Bioseguridad</a></li>
                <li><a href="Beltrán Santistevan Carlos Steven.html">Explora</a></li>
                <li><a href="Reyes Toala Nefi Javier.html">Conoce</a></li>
                <li><a href="Gonzalez_Espinoza_Christian_Eduardo.html">Precios</a></li>
            </ul>
        </div>
    </nav>
</header>
<header class="col">
    <nav>
        <a href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
        <div class="nav-links">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="Cantos Pinto James Douglas.html">Bioseguridad</a></li>
                <li><a href="Beltrán Santistevan Carlos Steven.html">Explora</a></li>
                <li><a href="Reyes Toala Nefi Javier.html">Conoce</a></li>
                <li><a href="Gonzalez_Espinoza_Christian_Eduardo.html">Precios</a></li>
            </ul>
        </div>
    </nav>
</header>
