<main class="contenedor">

    <div class="bloque-izq">


        <div class="top">
            <h1 class="title">Ofertas en ropa deportiva</h1>
        </div>

        <div>
            <h1 class = "parrafo">Descubre las gangas más vendidas de las últimas 24 horas y hazte con tu artículo de marca favorito antes de que lo hagan otros. Ya sabes: ¡solo hasta fin de existencias!</h1>
        </div>
        

        <div class="cuadricula-juegos">


            <div class="cuadricula" id="1">
                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/camisa-rm.jpg" alt="camisa-rm">
                </div>

                <div class="informacion">
                    <h2>Real Madrid C.F. adidas Camiseta de entrenamiento para Hombres GR4324</h2>          
                </div>
                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$41,00</em></span>
                        <span class="precio2"><b>$29,00</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>

            <div class="cuadricula" id="2">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/adidas-pants.jpg" alt="pants">
                </div>

                <div class="informacion">
                    <h2> Condivo 21 Hombre Pantalones cortos GJ6804</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$19,99</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>

            <div class="cuadricula" id="3">
                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/calcetines.jpg" alt="calcetines">
                </div>

                <div class="informacion">
                    <h2>HEAD Performance Calcetines tobilleros 2 pares 791019001-870</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$9,99</em></span>
                        <span class="precio2"><b>$3,50</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>

            <div class="cuadricula" id="4">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/bayern-pants.jpg"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Bayern de Múnich Adidas Hombre Pantalones cortos GM5324</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,99</em></span>
                        <span class="precio2"><b>$22,99</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>

            <div class="cuadricula" id="5">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/adidas-buzo.jpg" alt="#">
                </div>

                <div class="informacion">
                    <h2>Adidas Originals Classics Primeblue SST Hombre Chaqueta GF0198
                    </h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$45,00</em></span>
                        <span class="precio2"><b>$30,00</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>

            <div class="cuadricula" id="6">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/adidas-chaqueta-ninio.jpg"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Adidas Stadium Niño Chaqueta con capucha H10163</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$45,00</em></span>
                        <span class="precio2"><b>$32,00</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>

            <div class="cuadricula" id="7">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/puma-sudadera.jpg" alt="#">
                </div>

                <div class="informacion">
                    <h2>PUMA LIGA 1/4 Zip Hombre Sudadera de entrenamiento 655606-03</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$45,00</em></span>
                        <span class="precio2"><b>$20,00</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>

            <div class="cuadricula" id="8">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/jako-chaqueta.jpg"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Jako Striker Mujer Chaqueta de presentación D9816-23</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$21,00</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>

            <div class="cuadricula" id="9">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/sneakers.jpg"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>SportSpar.de "DEALMAKER ONE" Sneakers</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$25,00</em></span>
                        <span class="precio2"><b>$12,00</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>

            <div class="cuadricula" id="10">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/zeus-pants.jpg"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Zeus Mida Pantalones cortos de entrenamiento Marino</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$30,00</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>

            <div class="cuadricula" id="11">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/puma-sudadera2.jpg"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>PUMA LIGA 1/4 Zip Hombre Sudadera de entrenamiento</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$27,00</em></span>
                        <span class="precio2"><b>$16,00</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>

            <div class="cuadricula" id="12">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/calcetines-tobilleros.jpg"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>HEAD Hiking Unisex Calcetines tobilleros 2 pares 781001001-857</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$7,50</em></span>
                        <span class="precio2"><b>$3,50</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>

            <div class="cuadricula" id="13">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/marsella-shirt.jpg"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Olympique de Marsella PUMA Niño Camiseta 757046-01</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$25,00</em></span>
                        <span class="precio2"><b>$16,00</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>

            <div class="cuadricula" id="14">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/leverkusen-shirt.jpg"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Bayer 04 Leverkusen Jako Camiseta BA4221H-681
                    </h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$29,00</em></span>
                        <span class="precio2"><b>$19,99</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>

            <div class="cuadricula" id="15">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/visera.jpg"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Mizuno Visera J2GW0R05Z-29</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$15,00</em></span>
                        <span class="precio2"><b>$7,00</b></span>
                    </div>
                    <button mat-raised-button color="primary">Comprar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bloque-derecha">
        <aside>
            <div class="titulo">
                <h1>Más contenido:</h1>
            </div>
            <section>
                <h2>Noticias</h2>
                <blockquote>
                    <p>Encuentre equipo de entrenamiento adidas a la venta para apoyar sus sesiones de entrenamiento y su presupuesto. Explore todo lo que necesita para lograr su mejor marca personal, desde sudaderas con capucha y pantalones cálidos hasta blusas y calzas que absorben el sudor.</p>
                </blockquote>
                
            </section>

            <section>
                <h2>Marcas</h2>
                <blockquote>
                    <li>Adidas</li>
                    <li>Nike</li>
                    <li>Puma</li>
                    <li>Jako</li>
                    <li>HEAD</li>
                    <li>Zeus</li>
                    <li>Umbro</li>
                    <li>Reebook</li>
                </blockquote>
            </section>

            <section>
                <h2>Productos</h2>
                <blockquote>
                    <p>Ofrecemos descuentos en:</p>
                    <li>Camisetas deportivas</li>
                    <li>Sudaderas</li>
                    <li>Pantalones</li>
                    <li>Chaquetas de entrenamiento</li>
                    <li>Calcetines, entre otros.</li>
                </blockquote>

            </section>
        </aside>
    </div>
</main>