<main class="contenedor">

    <div class="bloque-izq">


        <div class="top">
            <h1 class="title">Ofertas en ropa deportiva</h1>
            <div>
                <a class="btnCompra" href="#">Confirmar compra</a>
            </div>
        </div>

        <div class="cuadricula-juegos">


            <div class="cuadricula" id="1">
                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/camisa-rm.jpg" alt="camisa-rm">
                </div>

                <div class="informacion">
                    <h2>Real Madrid C.F. adidas Camiseta de entrenamiento para Hombres GR4324</h2>          
                </div>
                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$41,00</em></span>
                        <span class="precio2"><b>$29,00</b></span>
                    </div>
                    <a class="icon-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>

            <div class="cuadricula" id="2">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/adidas-pants.jpg" alt="pants">
                </div>

                <div class="informacion">
                    <h2> Condivo 21 Hombre Pantalones cortos GJ6804</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$19,99</b></span>
                    </div>
                    <a class="a-icon-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>

            <div class="cuadricula" id="3">
                <div class="imagen-card">
                    <img class="img-cuadricula" src="assets/img/calcetines.jpg" alt="calcetines">
                </div>

                <div class="informacion">
                    <h2>HEAD Performance Calcetines tobilleros 2 pares 791019001-870</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$9,99</em></span>
                        <span class="precio2"><b>$3,50</b></span>
                    </div>
                    <a class="a-icon-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>

            <div class="cuadricula" id="4">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="#"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Por terminar</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$15,00</em></span>
                        <span class="precio2"><b>$12,99</b></span>
                    </div>
                    <a class="a-con-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>

            <div class="cuadricula" id="5">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="#" alt="#">
                </div>

                <div class="informacion">
                    <h2>Por terminar</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$30,00</b></span>
                    </div>
                    <a class="a-con-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>

            <div class="cuadricula" id="6">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="#"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Por terminar</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$30,00</b></span>
                    </div>
                    <a class="a-con-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>

            <div class="cuadricula" id="7">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="#" alt="FIFA_22_Poster">
                </div>

                <div class="informacion">
                    <h2>Por terminar</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$30,00</b></span>
                    </div>
                    <a class="a-con-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>

            <div class="cuadricula" id="8">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="#"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Por terminar</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$30,00</b></span>
                    </div>
                    <a class="a-con-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>

            <div class="cuadricula" id="9">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="#"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Por terminar</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$30,00</b></span>
                    </div>
                    <a class="a-con-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>

            <div class="cuadricula" id="10">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="#"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Por terminar</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$30,00</b></span>
                    </div>
                    <a class="a-con-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>

            <div class="cuadricula" id="11">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="#"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Por terminar</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$30,00</b></span>
                    </div>
                    <a class="a-con-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>

            <div class="cuadricula" id="12">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="#"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Por terminar</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$30,00</b></span>
                    </div>
                    <a class="a-con-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>

            <div class="cuadricula" id="13">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="#"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Por terminar</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$30,00</b></span>
                    </div>
                    <a class="a-con-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>

            <div class="cuadricula" id="14">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="#"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Por terminar</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$30,00</b></span>
                    </div>
                    <a class="a-con-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>

            <div class="cuadricula" id="15">

                <div class="imagen-card">
                    <img class="img-cuadricula" src="#"
                        alt="#">
                </div>

                <div class="informacion">
                    <h2>Por terminar</h2>
                </div>

                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>$35,00</em></span>
                        <span class="precio2"><b>$30,00</b></span>
                    </div>
                    <a class="a-con-buy" href="#"><img class="icon-buy" src="assets/img/icons8-shopping-cart-80.png"
                            alt="icono de compra"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bloque-derecha">
        <aside>
            <div class="titulo">
                <h3>Más contenido:</h3>
            </div>
            <section>
                <h2>Noticias</h2>
                <blockquote>
                    <p>...</p>
                </blockquote>
            </section>

            <section>
                <h2>Otras ofertas</h2>
                <blockquote>
                    <p>...</p>
                </blockquote>

            </section>

            <section>
                <h2>Deportes</h2>
                <blockquote>
                    <p>...</p>
                </blockquote>

            </section>
        </aside>
    </div>
</main>