<main class="contenedor">

    <div class="bloque-izq">


        <div class="top">
            <h1 class="title">Ofertas en ropa deportiva</h1>
        </div>

        <div>
            <h1 class = "parrafo">Descubre las gangas más vendidas de las últimas 24 horas y hazte con tu artículo de marca favorito antes de que lo hagan otros. Ya sabes: ¡solo hasta fin de existencias!</h1>
        </div>
        
        <div class="cuadricula-juegos" *ngFor="let itemoferta of lItemRopa; let i = index">

            <div class="cuadricula" id="itemoferta.id">
                <div class="imagen-card">
                    <img class="img-cuadricula" [src]="itemoferta.srcimg" alt="camisa-rm">
                </div>

                <div class="informacion">
                    <h2>{{itemoferta.nombre}} {{itemoferta.codigo}}</h2>          
                </div>
                <div class="footer-box">
                    <div class="box-precio">
                        <span class="precio1"><em>{{itemoferta.precio}}</em></span>
                        <span class="precio2"><b>{{itemoferta.preciooferta}}</b></span>
                    </div>
                    <button mat-raised-button color="primary" (click)="openDialogAgregar(itemoferta)">Comprar</button>
                </div>
            </div>

        </div>
    </div>
    <div class="bloque-derecha">
        <aside>
            <div class="titulo">
                <h1>Más contenido:</h1>
            </div>
            <section>
                <h2>Noticias</h2>
                <blockquote>
                    <p>Encuentre equipo de entrenamiento adidas a la venta para apoyar sus sesiones de entrenamiento y su presupuesto. Explore todo lo que necesita para lograr su mejor marca personal, desde sudaderas con capucha y pantalones cálidos hasta blusas y calzas que absorben el sudor.</p>
                </blockquote>
                
            </section>

            <section>
                <h2>Marcas</h2>
                <blockquote>
                    <li>Adidas</li>
                    <li>Nike</li>
                    <li>Puma</li>
                    <li>Jako</li>
                    <li>HEAD</li>
                    <li>Zeus</li>
                    <li>Umbro</li>
                    <li>Reebook</li>
                </blockquote>
            </section>

            <section>
                <h2>Productos</h2>
                <blockquote>
                    <p>Ofrecemos descuentos en:</p>
                    <li>Camisetas deportivas</li>
                    <li>Sudaderas</li>
                    <li>Pantalones</li>
                    <li>Chaquetas de entrenamiento</li>
                    <li>Calcetines, entre otros.</li>
                </blockquote>

            </section>
        </aside>
    </div>
</main>