mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
        background: #1E5128;
        color: #000;
    height: 50px;
  
     
}

.example-spacer {
    flex: 1 1 auto;
  }
