<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      SoftSport
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        
      </button>
      <button mat-button (click)="openDialogSesion()">Novedades</button>
      <!--
        <mat-icon>webhook</mat-icon> 
        mat-raised-button
      <button mat-button [matMenuTriggerFor]="menunovedades">Novedades</button>
        <mat-menu #menunovedades="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>-->
      <button mat-button (click)="openHombres()">Hombre</button>
      <button mat-button [matMenuTriggerFor]="menumujer">Mujer</button>
      <mat-menu #menumujer="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button (click)="openOfertas()">Ofertas</button>
      <button mat-button [matMenuTriggerFor]="menucolecciones" (click)="openColecciones()">Colecciones</button>
      <mat-menu #menucolecciones="matMenu" yPosition="above">
      </mat-menu>
      <mat-icon>login</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
