<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      SoftSport
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      </button>

      <button mat-button (click)="openNovedades()">Novedades</button>
      <button mat-button (click)="openHombres()">Hombre</button>
      <button mat-button (click)="openMujer()">Mujer</button>
      <button mat-button (click)="openOfertas()">Ofertas</button>
      <button mat-button (click)="openColecciones()">Colecciones</button>
      <mat-icon (click)="openDialogSesion()">login</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
