.item-button{
    display: inline;
    margin:0 10px 0 10px;
    color: rgb(48, 105, 77);
    background-color: rgb(57, 236, 192);
}
.item-precio{
    font-size:150%;
}
.item-img {
    display:block;
    margin:10px auto;
    width: 170px;
    height: 220px;
    border-radius: 10%;
}

.card-body{
    text-align: center;
}

.card{
    text-align: center;
    /*margin:auto;*/
    width: 120%;
}
.item-card {
    /*margin: auto;*/
    width: 100%;
}