.item-button{
    display: inline;
    margin:0 10px 0 10px;
    color: rgb(48, 105, 77);
    background-color: rgb(57, 236, 192);
}
.item-precio{
    font-size:150%;
}
.item-img {
    display:block;
    margin:10px auto;
    width: 170px;
    height: 220px;
    border-radius: 10%;
}

.card-body{
    text-align: center;
}

.card{
    text-align: center;
    /*margin:auto;*/
    width: 100%;
    height: 100%;
}
.item-card {
    /*margin: auto;*/
    width: auto;
    padding: 10px;
    height: 450px;
}

.card-mujer-texto {
    width: 100%;
}

.texto {
    width: auto;
    padding: 0 10px;
    height: 70px;
    text-align: center;
}

.micontainer{
    display: flex;
    flex-direction:row;
    background: steelblue;

    background: #CCC;
    display: flex;

    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
}

.cajita {
    width: max(300px);
    height: 450px;
    
}

.titulodecompras {
    font-size:200%;
    margin:0px
}

.titulodecomprascontenedor {
    margin:10px;
    padding: 10px auto;
    text-align: center;
}