.cabecera {
    padding-top: 25px;
}

.cabecera a {
    padding-left: 2%;
    color: white;
    font-weight: 700;
}

.big-header {
    min-height: 30vh;
    width: 100%;
   
    background-position: center;
    background-size: cover;
    position: relative;
}


.parrafoIntro {
    display: block;
    text-align: center;
    font-size: 20px;

}

.card-precio{
    display: block;
    margin: 0;
    font-weight: bold;
}


.container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}




.container .card {
    width: 350px;
    height: 410px;
    border-radius: 8px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
   /* overflow: hidden;*/
    margin: 20px;
    text-align:center;
    transition: all 0.25s;
}

h2 {
    text-align: left;
    margin-left: 30px;
    font-size: 24px;

}

.container .card img {
    width: 330px;
    height: 220px;
}

.container .card h4 {
    font-weight: 600;
}

.container .card p {
    /*padding: 0 1rem;

    font-weight: 100;*/

    font-size: 15px;
}

.container .card a {

    font-weight: 400;
   /* text-decoration: none;*/
    color: #3498db;
}
.imagenes div {
    display: inline-block;
    padding: 5px;
    }
.activa{
    width: 66px;
    height: 66px;
    }
