
<div class="big-header">
    <a><img src="assets/img/Colecciones.png" alt="articulos coleccionables"></a>
</div>

<section>

    <span class="parrafoIntro "><br>
        "Les presentamos la última edicción coleccionable 2022-EDICIÓN LIMITADA"
    </span>
    <h2>Tu mejor estilo</h2>
    <section >
        <div class="container" >
            <div *ngFor="let itemcoleccion of lItemRopa; let i = index">
                <div class="card">
                    <a><img [src]="itemcoleccion.srcimg" alt="conjunto1"></a>
                    <h4>{{itemcoleccion.nombre}}</h4>
                    <span class="card-precio">{{itemcoleccion.precio}}</span>
                    <p>{{itemcoleccion.detalle}}</p>
                    <button mat-raised-button color="primary" (click)="AgregarCarrito(itemcoleccion)"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
                </div>
            </div>
        </div>
    </section>

</section>       
