
<div class="big-header">
    <a><img src="assets/img/Colecciones.png" alt="articulos coleccionables"></a>
</div>

<section>

    <span class="parrafoIntro "><br>
        "Les presentamos la última edicción coleccionable 2022-EDICIÓN LIMITADA"
    </span>
    <h2>Tu mejor estilo</h2>
    <section>
        <div class="container">
            <div class="card">
                <a><img src="assets/img/Conjunto1.png" alt="conjunto1"></a>
                <h4>Conjunto deportivo Adidas: Color negro</h4>
                <span class="card-precio">50$</span>
                <p>La colección de esta temporada de ADIDAS es oscura, sombría y poderosa. Con bolsillos laterales para guardar cosas, tecnología de absorción de la humedad para un mejor control de la temperatura, esta Chamarra de fútbol vistosa es perfecta para ti.</p>
                <button mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
              
            </div>

            <div class="card">
                <img src="assets/img/Conjunto2.png" alt="conjunto2">
                <h4>Conjunto deportivo Adidas: Color negro y blanco</h4>
                <span class="card-precio">50$</span>
                <p>Este conjunto se inspira en la combinación del diseño romántico y vanguardista de Kahlo. Tiene bordados magníficos y bordes fruncidos yuxtapuestos con materiales deportivos de alto performance.</p>
                <button mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
              
                
            </div>

            <div class="card">
                <img src="assets/img/Conjunto10.png" alt="conjunto3">
                <h4>Conjunto deportivo Jordan: Color negro y rojo</h4>
                <span class="card-precio">50$</span>
                <p>Este modelo cómodo y acogedor incluye un logotipo llamativo en el pecho que es toda una declaración. Está equipado con puños elasticados para mantener el calor en la pista de skate o en la calle. Para que vistas con estilo sin ningún esfuerzo.</p>
                <button mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
              
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="card">
                <img src="assets/img/Conjunto4.png" alt="conjunto4">
                <h4>Conjunto deportivo Jordan PSG: Color purpura</h4>
                <span class="card-precio">50$</span>
                <p>Recopilamos nuestros diseños más queridos para nuestra colección,que presenta accesorios modernos con un estilo incomparable,presenta llamativos bloques de color, una fabricación suave y gráficos que seguramente llamarán la atención.
                </p>
                <button mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
              
            </div>

            <div class="card">
                <img src="assets/img/Conjunto5.png" alt="conjunto5">
                <h4>Conjunto deportivo Nike: Color azul</h4>
                <span class="card-precio">50$</span>
                <p>Nike se asoció con la marca de ropa de BUTTER para crear este cortaviento ligero, diseñado para mantenerte cómodo y con estilo en cualquier situación.Crea un look que resalta, y un diseño con un cuello y abrigadores.</p>
                <button mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
              
            </div>

            <div class="card">
                <img src="assets/img/Conjunto7.png" alt="conjunto6">
                <h4>Conjunto deportivo Nike: Color azul marino</h4>
                <span class="card-precio">50$</span>
                <p>Nuestro cojunto estampado con gorra está hecho 100% de algodón y con detalles llamativos de marca NIKE. Tiene un práctico bolsillo estilo canguro y una gorra ajustable. Es el Sudadera con el diseño perfecto para los que están atentos a la moda. </p>
                <button mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
              
            </div>

            <div class="card">
                <img src="assets/img/Conjunto8.png" alt="conjunto7">
                <h4>Conjunto deportivo Adidas: Color negro y blanco</h4>
                <span class="card-precio">50$</span>
                <p>Cuando se trata de jugar, nada es tan importante como tu equipo. Enfréntate a tus rivales con la comodidad y estilo insuperables de nuestro conjunto. Este conjunto con gorra refinado está diseñado pensando en los gamers.</p>
                <button mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
              
            </div>

            <div class="card">
                <img src="assets/img/Conjunto9.png" alt="conjunto8">
                <h4>Conjunto deportivo Jordan: Color negro y purpura</h4>
                <span class="card-precio">50$</span>
                <p>Todo guardarropa necesita una conjunto con gorra clásica, y esta edición de JORDAN de un básico de ropa informal es absolutamente imprescindible.Con un amplio bolsillo canguro para almacenamiento y una práctica gorra ajustable para mayor comodidad. </p>
                <button mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
              
            </div>
        </div>

       

       
    </section>

    <h2>Colecciones de Basquet</h2>
    <section>
        <div class="container">
            <div class="card">
                <a><img src="assets/img/Basquet1.png" alt="indumentaria basquet 1"></a>
                <h4>Indumentaria Lakers</h4>
                <span class="card-precio">60$</span>
                <p>Equipo completo de colección de Angeles Lakers, número 24 de Kobe Byrant.</p>
                <button mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
              
            </div>

            <div class="card">
                <img src="assets/img/Basquet2.png" alt="indumentaria basquet 2">
                <h4>Indumentaria Suns</h4>
                <span class="card-precio">60$</span>
                <p>Diseño personalizado equipos Suns alterno, año 2017.</p>
                <button mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
              
            </div>

            <div class="card">
                <img src="assets/img/Basquet3.png" alt="indumentaria basquet 3">
                <h4>Indumentaria Porlant</h4>
                <span class="card-precio">60$</span>
                <p>Camiseta retro de los Porlant, usada actualmente por el jugador Damian Lillard.</p>
                <button mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
              
            </div>
        </div>
    </section>

    <h2>Ellas también necesitan su colección completa</h2>
    <section>
        <div class="container">
            <div class="card">
                <a><img src="assets/img/Mas.png" alt="leggins adidas"></a>
                <h4>Leggins Adidas color celeste</h4>
                <span class="card-precio">25$</span>
                <p>Feroces amantes de la moda, esta es para ti. Diseñados para aquellos que se atreven a sobresalir entre la multitud,Un atrevido estampado integral compuesto con materiales reciclados, una moda de la que puedes estar realmente orgulloso de lucir.</p>
                <button mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
              
            </div>

            <div class="card">
                <img src="assets/img/Mas1.png" alt="leggins jordan">
                <h4>Leggins Jordan color plomo</h4>
                <span class="card-precio">25$</span>
                <p>Estos leggings impactantes tienen estampados gráficos sofisticados inspirados en el arte floral. Están confeccionados con un material flexible en las cuatro direcciones y tecnología de absorción de la humedad.</p>
                <button mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
              
            </div>

            <div class="card">
                <img src="assets/img/Mas2.png" alt="leggins nike">
                <h4>Leggins nike color azul</h4>
                <span class="card-precio">25$</span>
                <p>Lleva tu estilo personal a otro nivel con nuestros leggings de training estampados de largo 7/8 y cintura alta. Estos leggings de alto performance están diseñados para ser duraderos, cómodos y para brindarte una elasticidad multidireccional.</p>
                <button mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon>Añadir al carrito</button>
              
            </div>
        </div>
    </section>

</section>       
